---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostCard from '../../components/PostCard.astro'

import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

---

<BaseLayout>
    
    {allPosts.map((posts) => 
    <div class='py-4'>
        <PostCard post={posts} />
    </div>)}


</BaseLayout>
