---
import ProjectSection from '../components/sections/ProjectSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostSection from '../components/sections/PostSection.astro';
import Icon from 'astro-icon';
import Hero from '../components/Hero.astro';
import ClientCard from '../components/ClientCard.astro';
import Review from '../components/Review.astro';
---

<BaseLayout>
  <Hero />

  <!-- Testimonial Section -->
  <Review
    review_text={`"Jay helped us achieve everything we wanted to do on Webflow. I'd recommend him without any hesitation."`}
    name="Tom Jacquesson"
    company="Co-Founder @ Tweet Hunter"
    image_src="/images/tom_j_th.webp"
  />

  <!-- Client Work Projects -->
  <section id="#projects" class="my-10">
    <div class="py-6">
      <h2 class="mb-3 text-3xl underline text-prime-text underline-offset-8">
        Recent Client Work
      </h2>

      <p class="text-secondary-text">
        Some of my client projects
      </p>
    </div>
    <ul class="flex flex-col gap-x-12 gap-y-16 md:grid md:grid-cols-2">
      <ClientCard
        showcase_url="https://www.urbandirect.com/"
        showcase_text="Application Site"
        live_url="https://www.urbandirect.com/"
        name="UrbanDirect"
        client_desc="Fast growing NYC startup working to disrupt the overnight shipping industry"
        project_desc="After failing to hit deadlines, I came on to UrbanDirect to lead application developlment. I got a full React frontend application out the door and proudction ready in two weeks to get the startup back on track for their launch date and oversaw the backend developer"
        stack={['react', 'aws']}
      />
      <ClientCard
        showcase_url="https://www.loom.com/share/14829874020d4dd68b05f5dda4c20c01?sid=7204643c-878b-49da-b4f4-87c291ea4c37"
        showcase_text="Client Case Study"
        live_url="https://tweethunter.io/"
        name="TweetHunter"
        client_desc="Fast growing Twitter/X content tool that has been sold for over 7 figures"
        project_desc="I was brought on to improve Tweet Hunter's leading page performance. Was able to increase LP performance by over 40%. In addition I built out their content system in Webflow for their SEO strategist."
        stack={['webflow', 'javascript']}
      />
    </ul>
  </section>

  <Review
    review_text={`""Communication with Jay was excellent. He took my feedback and replied with detailed Loom videos highlighting what he did""`}
    name="Luke Netti"
    company="Founder @ Luke Netti"
    image_src="/images/luke_netti.jpeg"
  />

  <!-- Personal Projects -->
  <section id="#projects" class="my-10">
    <div class="py-6">
      <h2 class="mb-3 text-3xl underline text-prime-text underline-offset-8">
        Personal Projects
      </h2>

      <p class="text-secondary-text">
        Some of my current projects that I'm working on myself
      </p>
    </div>
    <ul class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="group relative flex flex-col items-start text-prime-text hover:bg-base-accent p-4 rounded-lg border-[1px]"
      >
        <div class="absolute top-0 right-0 p-2">
          <Icon
            pack="mdi"
            name="arrow-top-right-thick"
            class="w-4 h-4 transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1 group-hover:text-prime"
          />
        </div>
        <a href='#'>
          <h2
            class="pb-6 mt-2 text-base font-semibold text-zinc-800 dark:text-zinc-100"
          >
            <span class="relative z-1 text-prime-text group-hover:text-prime"
              >Project Title</span
            >
          </h2>
          <p
            class="relative mt-2 text-sm z-1 text-secondary-text group-hover:text-prime-text"
          >
            Project description
          </p>
          <div class="flex p-2 mt-4 space-x-6">
            <Icon pack="logos" name='react' class="w-6 h-6" />
          </div>
          <a
            href='#'
            class="relative flex w-full mt-6 text-sm font-medium transition z-1 hover:underline hover:underline-offset-2 hover:text-prime"
          >
            <Icon
              pack="mdi"
              name="link-variant"
              class="w-4 h-4 text-prime-text group-hover:text-prime"
            />

            <span class="ml-2 group-hover:text-prime">GitHub Repo</span>
          </a>
        </a>
      </div>
    </ul>
  </section>

  <!-- <ProjectSection /> -->
  <!-- <PostSection /> -->
</BaseLayout>
