---

---

<div class="max-w-4xl mt-16">
  <h1
    class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
  >
    Fullstack Software engineer, self-optimizer, and motorcycle fanatic.
  </h1>
  <p class="mt-6 text-secondary-text text-zinc-600 dark:text-zinc-400">
    Hey there, I'm Jay, a software engineer and entrepreneur based in the
    Greater Boston Area. I’m a fullstack software engineer working mainly in Python, Javascript and Laravel.
  </p>
  <div class="my-12">
    <p class="mb-6 text-secondary-text text-zinc-600 dark:text-zinc-400">Tech stacks that I've used and have experience working with:</p>
    <img src="https://skillicons.dev/icons?i=python,javascript,php,fastapi,react,laravel,django,tailwindcss,postgres,supabase,aws,docker,webflow" />
  </div>
  <img src="https://ghchart.rshah.org/j-delisle" alt="GitHub Contribution Chart" />
</div>
