<nav class="fixed z-10 block pointer-events-auto md:hidden bg-base">
  <ul
    class="flex px-3 text-sm font-medium rounded-full shadow-lg bg-white/90 text-secondary-text shadow-base-accent ring-1 ring-base-light backdrop-blur"
  >
    <li>
      <a
        class="relative block px-3 py-2 transition hover:text-prime"
        href="#projects">Projects</a
      >
    </li><li>
      <!-- <a
        class="relative block px-3 py-2 transition hover:text-prime"
        href="#posts">Posts</a
      > -->
    </li><li>
      <a class="relative block px-3 py-2 transition hover:text-prime" href="#"
        >Work With Me</a
      >
    </li><li>
      <a class="relative block px-3 py-2 transition hover:text-prime" href="#"
        >Resume</a
      >
    </li><li>
      <a
        class="relative block px-3 py-2 transition hover:text-prime"
        href="mailto:jay@jaydelisle.dev">Contact</a
      >
    </li>
  </ul>
</nav>
