---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import SideBar from '../components/SideBar.astro';
---

<!doctype html>
<html lang="en" class="bg-base text-prime-text">
  <head>
    <BaseHead title={'Jay Delisle Dev'} description={''} />
  </head>
  <body>
    <div class="container mx-auto min-h-screen">
      <div class="flex flex-row flex-wrap py-4">
        <SideBar />
        <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
          <div class="sm:px-8 my-9">
            <div class="mx-auto w-full max-w-7xl lg:px-8">
              <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                  <slot />
                </div>
              </div>
            </div>
            <Footer />
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
